body{
    background-color: #fff;
    color: #000;
    font-size: x-large;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #FDC830;
    color: white;
}

header{
background:black;
width:100%;
height:95vh;
color: white;
}
header .title {
font-family: 'Cormorant SC', serif;
font-size:60px;
padding-top:10%;
text-align:center;

}
header .code{
display:table;
margin:80px auto;
text-decoration:none;
}
header .code p {
font-size: 17px;
font-family: 'Inconsolata', monospace;
text-decoration: none;
color:white;
}
header .code .line {
margin-left:10px;
}
header .code .comment{
color: gray;
}

.header {
transition:all 0.3s;
width:100%;
height:80px;
align-items:center;
color:white;
position:fixed;
z-index:100;
top:0;

}
.header a {
transition:all 0.3s;
text-decoration:none;
color:white;
padding:10px 15px;
margin-left:5px;
font-family: 'Roboto Condensed', sans-serif;
}
.header a:hover{
transition:all 0.3s;
background:rgba(251,251,251,0.1);
}
.header {
display:flex;
align-items:center;
justify-content:space-between;
padding:30px;
}

.header.scroll {
-webkit-box-shadow: 0px 6px 38px 1px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 6px 38px 1px rgba(0,0,0,0.47);
box-shadow: 0px 6px 38px 1px rgba(0,0,0,0.47);
background:white;
z-index:100;
}
.header.scroll a {
color:black;
}