body{
    background-color: #fff;
    color: #000;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #FDC830;
    color: white;
}

.container{
	width:90%;
	height:auto;
	margin:auto;
	padding:50px;
}
.container .description {
	margin-top:30px;
}

  /* Style for projectos */
.table-proyects {
	width:100%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}
.content-proyect:last-child {
	margin-right:auto;
	margin-left:10px;
}

.content-proyect {
	width:calc((100% - 30px) / 3);
	display:block;
	margin-bottom:70px;
}
.title-proyect {
	text-decoration:none;
	width:100%;
	font-size:19px;
	font-weight:700;
	text-align:left;
	color: #0366D6;
	display:block;
	margin-bottom:10px;
}
.title-proyect:hover {
	text-decoration:underline;
	outline-color:#0366D6;
	cursor:pointer;
}
.desc-proyect {
	color:#586069;
	font-size:14px;
	width:100%;
	text-align:left;
	margin-bottom:10px;
}

.language-proyect p {
   color:#191919;
   font-weight:bold;
   font-size:14px;
   margin-left:15px;
}
.language-proyect::before {
	content: " ";
	position:absolute;
	width:12px;
	height:12px;
	margin-top:4px;
	border-radius:100%;
	background:#009bff;
}

.language-proyect.java::before {
	background:#B07219;
}
.language-proyect.javascript::before {
	background:#F1E05A;
}